.site-header {
  // position: fixed;
  position: relative;
  background-color: $color__background-header;
  height: 55px;
  width: 100%;
  border-top: 3px solid #305c9f;
  top: 0;
  left: 0;
  .site-branding {
    .site-title {
      margin: 0.5rem 1rem;
      line-height: $font__line-height-logo;
      a {
        font-size: 1.3rem;
        font-weight: 700;
        color: $color__text-screen;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (min-width: 50em) {
  .site-header {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 12.5rem) minmax(auto, 50rem) 1fr;
    align-items: center;
    height: auto;
    .site-branding {
      grid-area: 1/2/2/3;
    }
  }
}
